/* tag selector */
body{
    background-color: #FDF0D5;
}
hr{

    border-style: none;
    border-top-style: dotted;
    border-color: #2ecc71;
    border-width:5px;
    background-color: white;
    width: 5%;

}
/*
img{
    height: 600px;
}
*/

h1 , h3{
    color: #66BFBF;
}
/*
img {
    background-color: #7f8c8d;
}
 */

/*sudo class
selector:sudo class{}

in mdn has serie of keyword with a colon in front
*/
img:hover {
    background-color: gold;
}
/* class selector */

.below_page {
    background-color: #2ecc71;

}

.up_page {
    background-color: red;
}

.circluar{
    border-radius: 100%;
}

/* id selector */

#ex_key {
    color: blueviolet;
}